{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block css_files %}
	<link rel="stylesheet" href="{% static 'chat/css/styles.css' %}">
{% endblock %}

{% block title %}
{% trans "Turnuva Oluşturma Sayfası" %}
{% endblock %}

{% block content %}
<div class="container mt-5 pt-5">
	<div class="col-md-6 mx-auto mt-4">
		<div class="row">
			<div class="col-md-6 mx-auto mt-4">
				<h1>Turnuva Oluştur</h1>
			</div>
			<hr>
			<div class="col-md-5 mx-auto mt-2">
			<form method="post">
					{% csrf_token %}
					<input type="text" id="oda_ismi" name="oda_ismi">
					<button type="submit" class="btn btn-primary">Oluştur</button>
			</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}

