{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block css_files %}
	<link rel="stylesheet" href="{% static 'chat/css/styles.css' %}">
{% endblock %}

{% block title %}
{% trans "Turnuvaya Katıl" %}
{% endblock %}

{% block content %}
{% if messages %}
{% for messages in messages %}
	<div class="alert alert-dark">
		{{ messages }}
	</div>
{% endfor %}
{% endif %}
<div class="col-md-6 mx-auto mt-4">
	<div class="container mt-5 table-responsive">
	<h1>Turnuvaya Katıl</h1>
	<a href="{% url 'sohbet_anasayfa' %}" class="btn btn-danger">Oyun Anasayfası</a>
	</div>
	<div class="row">
		<div class="alert alert-success">
{% if tournament.players.count() < 3 %}
<form method="post">
		{% csrf_token %}
		<button type="submit">Katıl</button>
</form>
{% else %}
<p>Turnuva dolu.</p>
{% endif %}
		</div>
	</div>
</div>
{% endblock %}