{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block css_files %}
	<link rel="stylesheet" href="{% static 'chat/css/styles.css' %}">
{% endblock %}

{% block title %}
{% trans "Sohbet Anasayfası" %}
{% endblock %}

{% block content %}

<div class="container mt-5 pt-5">
	<h2 class="text-center">Ping Pong</h2>
	<h3 class="text-center"> Merhaba, {{ request.user.username }}</h3>
	{% if messages %}
	{% for messages in messages %}
		<div class="alert alert-dark">
			{{ messages }}
		</div>
	{% endfor %}
	{% endif %}

	<form method="post" action="{% url 'sohbet_anasayfa' %}">
		{% csrf_token %}
		<div class="col-md-6 mx-auto mt-4">
			<div class="row">
				<div class="col-12 col-md-8 col-lg-6 col-xl-5">
					<label>Seçenek Seçiniz</label>
					<select class="form-control" name="option">
						<option value="1">Oda Oluştur</option>
					</select>
				</div>
				<div class="col-12 col-md-8 col-lg-6 col-xl-5">
					<label>Oda Adı</label>
					<input type="text" id="oda_ismi" name="oda_ismi" class="form-control">
				</div>
				<div class="mb-3">
					<br>
					<button type="submit" id="submit" class="btn btn-primary" style="background-color:#7a1b0c;">Oyunu Başlat</button>
					<a href="{% url 'oyun_gecmis' %}" class="btn btn-dark">Oyun Geçmiş Tablosu</a>
				</div>
			</div>
		</div>
	</form>

	<div class="col-xs-12 text-center">
		<h1 class ="col-sm-9">Açık Odalar</h1>
	</div>
	
	<form method="post" action="{% url 'sohbet_anasayfa' %}">
	{% for oda in odalar %}
	{% if oda.is_over == 0 %}
		{% csrf_token %}
		<div class="card-body">
			<div class="alert alert-success">
				<input type="hidden" id="option" name="option" value='2'>
				<input type="hidden" id="oda_ismi" name="oda_ismi" value='{{ oda.room_name }}'>
				<p>Oyun Odası Adı = {{ oda.room_name }}
					<button type="submit" id="submit" class="btn btn-primary">Oyuna Katıl</button>
				</p>
			</div>
		</div>
		{% endif %}
		{% endfor %}
	</form>
</div>
{% endblock %}

{% block js_files %}
	<script src="{% static 'chat/js/script.js' %}"></script>
{% endblock %}

