<!DOCTYPE html>
<html>
<head>
	<title>Ping Pong Oyunu</title>
	<style>
		body {
			margin: 0;
			padding: 200px;
			overflow: hidden;
			background-color: #111;
			display: column ;
			justify-content: center;
			align-items: center;
			height: 100vh;
			font-family: Arial, sans-serif;
			}
		
			#pong {
			background-color: #222;
			display: block;
			margin: auto;
			border: 2px solid #fff;
			box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
			border-radius: 5px;
			}
		
			#ayar{
				display: block;
				padding: 20px;
				position: center;
			}
			#ayar2{
				display: flex;
				position: relative;
			}

			#scoreboard {
			color: #fff;
			font-size: 24px;
			text-align: center;
			margin-top: 20px;
			}
		
			#restart-button {
			display: none;
			margin-top: 20px;
			text-align: center;
			}
		
			button {
			padding: 10px 20px;
			font-size: 16px;
			background-color: #fff;
			border: none;
			border-radius: 4px;
			cursor: pointer;
			margin: 0 10px;
			}
		
			button:hover {
			background-color: #ccc;
			}
		
			/* Prevent paddles from going beyond game boundaries */
			.paddle {
			position: absolute;
			}
		
			.player1 {
			left: 10px;
			}
		
			.player2 {
			right: 10px;
			}
	</style>
</head>
<body>
	<canvas id="pong" width="800" height="400"></canvas>
	<div id="scoreboard">
		{% if oyuncular %}
			{% for oyuncu in oyuncular %}
				<span>{{oyuncu.oyuncu1}}(<span id="player1-score">0</span>) - {{oyuncu.oyuncu2}}(<span id="player2-score">0</span>)</span>
			{% endfor %}
		{% endif %}
		<div id="restart-button">
			<button onclick="StartGame()">Oyunu Başlat</button>
			<button onclick="location.reload()">Oyun Sayfasına Git</button>
		</div>
	</div>
	<div id="ayar">
		<div id="start-button" style="text-align: center; margin-top: 20px;">
			<div id="settings-button" tabindex="-1" aria-labelledby="settingsModalLabel" aria-hidden="true">
				<button onclick="StartGame()" id="start-button">Oyunu Başlat</button>
				<button onclick="toggleSettings()">Ayarlar</button>
			</div>
		</div>
		<div id="ayar2">
			<div id="color-buttons" style="display: none;">
				<h5 style="color : white;">
				<label>Oyuncu 1 Raket Rengi:</label>	
				<input type="color" id="changePaddleColor(1)">
				<label>Oyuncu 2 Raket Rengi:</label>
				<input type="color" id="changePaddleColor(2)">
				<label>Topun Rengi:</label>
				<input type="color" id="changeBallColor()">
				<label for="ballSpeed" class="form-label">Top Hızı:</label>
				<input type="range" id="ballSpeed" class="form-range" min="1" max="15" value="1">
				</h5>
			<button onclick="changePaddleColor(1), changePaddleColor(2), changeBallColor(), ballSpeed() ">Uygula</button>
			</div>
		</div>
	</div>
	<script>
		const canvas = document.getElementById("pong");
		const context = canvas.getContext("2d");

		// Paddle properties
		const paddleWidth = 10;
		const paddleHeight = 100;
		let player1Y = canvas.height / 2 - paddleHeight / 2;
		let player2Y = canvas.height / 2 - paddleHeight / 2;
		
		// Paddle properties
		let paddleColor1 = "#fff";
		let paddleColor2 = "#fff";

		// Ball properties
		let ballX = canvas.width / 2;
		let ballY = canvas.height / 2;
		const ballRadius = 10;
		let ballSpeedX = 2;
		let ballSpeedY = 2;
		let ballColor = "#fff";

		// Player scores
		let player1Score = 0;
		let player2Score = 0;
		const winningScore = 11;

		// Game state
		let gameStarted = false;
		let gameOver = false;
		let gamePaused = false;

		// Keyboard input
		let wPressed = false;
		let sPressed = false;
		let upArrowPressed = false;
		let downArrowPressed = false;

		// Event listeners for keyboard input
		window.addEventListener("keydown", handleKeyDown);
		window.addEventListener("keyup", handleKeyUp);

		function toggleSettings() {
            var colorButtons = document.getElementById("color-buttons");
            if (colorButtons.style.display === "none") {
                colorButtons.style.display = "block";
            } else {
                colorButtons.style.display = "none";
            }
        }
		function ballSpeed() {
			const ballSpeed = document.getElementById('ballSpeed').value;
			ballSpeedX = ballSpeed;
			ballSpeedY = ballSpeed;
		}
		
		// Keyboard input handlers
		function handleKeyDown(event) {
			if (event.key === "w") {
				wPressed = true;
			}
			if (event.key === "s") {
				sPressed = true;
			}
			if (event.key === "ArrowUp") {
				upArrowPressed = true;
			}
			if (event.key === "ArrowDown") {
				downArrowPressed = true;
			}
		}

		function handleKeyUp(event) {
			if (event.key === "w") {
				wPressed = false;
			}
			if (event.key === "s") {
				sPressed = false;
			}
			if (event.key === "ArrowUp") {
				upArrowPressed = false;
			}
			if (event.key === "ArrowDown") {
				downArrowPressed = false;
			}
		}

		// Game loop
		function gameLoop() {
			render();
		}

		function render() {
			context.fillStyle = "#222";
			context.fillRect(0, 0, canvas.width, canvas.height);

			context.fillStyle = "#fff";
            context.fillRect(canvas.width / 2 - 2, 0, 4, canvas.height);

			// Draw paddles
			context.fillStyle = paddleColor1;
			context.fillRect(10, player1Y, paddleWidth, paddleHeight);
			context.fillStyle = paddleColor2;
			context.fillRect(canvas.width - paddleWidth - 10, player2Y, paddleWidth, paddleHeight);

			// Draw ball
			context.fillStyle = ballColor;
			context.beginPath();

			context.arc(ballX, ballY, ballRadius, 0, Math.PI * 2, false);
			context.closePath();
			context.fill();

			// Check for collision with paddles
			if (ballX - ballRadius < paddleWidth && ballY > player1Y && ballY < player1Y + paddleHeight) {
				ballSpeedX = -ballSpeedX;
			} else if (ballX + ballRadius > canvas.width - paddleWidth && ballY > player2Y && ballY < player2Y + paddleHeight) {
				ballSpeedX = -ballSpeedX;
			}

			// Update ball position
			ballX += ballSpeedX;
			ballY += ballSpeedY;

			// Check for collision with walls
			if (ballY - ballRadius < 0 || ballY + ballRadius > canvas.height) {
				ballSpeedY = -ballSpeedY;
			}

			// Check for point scored
			if (ballX - ballRadius < 0) {
				player2Score++;
				resetBall();
			} else if (ballX + ballRadius > canvas.width) {
				player1Score++;
				resetBall();
			}

			document.getElementById("player1-score").textContent = player1Score;
			document.getElementById("player2-score").textContent = player2Score;

			// Check for game over
			if (player1Score === winningScore || player2Score === winningScore) {
				gameOver = true;
			}

			// Move paddles
			if (wPressed && player1Y > 0) {
				player1Y -= 5;
			}
			if (sPressed && player1Y < canvas.height - paddleHeight) {
				player1Y += 5;
			}
			if (upArrowPressed && player2Y > 0) {
				player2Y -= 5;
			}
			if (downArrowPressed && player2Y < canvas.height - paddleHeight) {
				player2Y += 5;
			}

			// Restart game if game over
			if (gameOver) {
				document.getElementById("restart-button").style.display = "block";
			} else {
				requestAnimationFrame(gameLoop);
			}
		}

		// Reset ball position and speed
		function resetBall() {
			ballX = canvas.width / 2;
			ballY = canvas.height / 2;
			ballSpeedX = -ballSpeedX;
			ballSpeedY = 3;
		}

		function StartGame() {
			document.getElementById("start-button").style.display = "none";
			gameStarted = true;
			requestAnimationFrame(gameLoop);
		}

		// Change ball color
		function changeBallColor() {
			ballColor = document.getElementById('changeBallColor()').value;
		}

		// Change paddle color
		function changePaddleColor(player) {
			if (player === 1) {
				paddleColor1 = document.getElementById('changePaddleColor(1)').value;
			} else if (player === 2) {
				paddleColor2 = document.getElementById('changePaddleColor(2)').value;
			}
		}
		// Start the game loop
		//requestAnimationFrame(gameLoop);
	</script>
</body>
</html>