{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block css_files %}
	<link rel="stylesheet" href="{% static 'blog/css/styles.css' %}">
{% endblock %}

{% block title %}
{% trans "Kişiler" %}
{% endblock %}

{% block content %}

<div class="container mt-3">
	<div class="row">
		<div class="col-3">
			{% include "blog/part/_kategori.html" %}
		</div>
		<div class="col-9">
			{% for kategori in kategoriler %}
				{% if kategori.slug == secilen %}
					<h1>{% blocktranslate %}{{kategori}}{% endblocktranslate %}</h1>
				{% endif %}
			{% endfor %}
			<hr>
			{% if kisiler|length > 0 %}
				{% for kisi in kisiler %}
					{% if kisi.kullanici != user.get_username and kisi.cevrimici %}
						{% include "blog/part/_kisi.html" %}
					{% endif %}
				{% endfor %}
			{% else %}
				<div class="alert alert-warning">{% trans "Kimse Bulunmamakta" %}</div>
			{% endif %}
		</div>
	</div>
</div>

{% endblock %}

{% block js_files %}
	<script src="{% static 'blog/js/script.js' %}"></script>
{% endblock %}