{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block css_files %}
	<link rel="stylesheet" href="{% static 'blog/css/styles.css' %}">
{% endblock %}

{% block title %}
{{slug.tam_adi}}{% trans " İstatik Sayfası" %}
{% endblock %}

{% block content %}

<div class="container mt-3">
	<div class="row">
		<div class="col-3">
			<img src="{{ slug.resim.url }}" style="width:100%; height:auto; border: 1px solid #ddd; border-radius: 15%;">
			<div class="d-grid gap-2 col-6 mx-auto">
				<a type="button" href="{% url "kisiler" %}" class="btn btn-outline-danger" aria-current="true" style="--bs-btn-hover-bg:#7a1b0c; --bs-btn-hover-border-color:white;">{% trans "Kişilere Git" %}</a>
			</div>
		</div>
		<div class="col-9">
			
			<h1>{{slug.tam_adi}}</h1>
			<hr>
			<div class="col-9">
				<h2>{% trans "İstatik Veriler" %}</h2>
				<div class="alert alert-success" role="alert">
					{% trans "Kazandığı Maçlar" %} | <medium> {{ slug.zafer_mac }}</medium>
				</div>
				<div class="alert alert-danger" role="alert">
					{% trans "Kaybettiği Maçlar" %} | <medium> {{ slug.bozgun_mac }}</medium>
				</div>
				<div class="alert alert-warning " role="alert">
					{% trans "Toplam Oynadığı Maçlar" %} | <medium> {{ slug.toplam_mac }}</medium>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block js_files %}
	<script src="{% static 'blog/js/script.js' %}"></script>
{% endblock %}