{% load  static %}
{% load i18n %}

<div class="col-md-3 ms-md-auto">
	<div class="d-grid gap-2 d-md-flex justify-content-md-end">
		<button class="btn btn-primary btn-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Sohbet</button>
			<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
				<div class="offcanvas-header">
				<h5 class="offcanvas-title" id="offcanvasRightLabel">Sohbet için</h5>
				<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
				</div>
				<div class="offcanvas-body">
				...
			</div>
		</div>
	</div>
</div>

<button hidden class="btn btn-primary" id="liveToastBtn"></button>
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
	<div class="toast-header">
		<img src="..." class="rounded me-2" alt="...">
		<strong class="me-auto">{{ user.get_full_name }}</strong>
		<small id="time">11 s</small>
		<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
	</div>
		<div class="toast-body">
			<h6 id="textareasend">naber</h6>
		</div>
	</div>
</div>

{% block js_files %}


{% endblock %}
