{% load static %}
{% load i18n %}

<div class="list-group">
	<a href="#" class="list-group-item list-group-item-action" aria-current="true">{% trans "Engellenenler" %}</a>
	<a href="#" class="list-group-item list-group-item-action" aria-current="true">{% trans "Arkadaşlar" %}</a>
	<a href="#" class="list-group-item list-group-item-action" aria-current="true">{% trans "Çevrimiçi" %}</a>
	<a href="#" class="list-group-item list-group-item-action active" aria-current="true" style="background-color: #7a1b0c;">{% trans "Tümü" %}</a>
</div>