{% load  static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="tr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="initial-scale=1.0, width=device-width" />
		<link rel="stylesheet" href="{% static 'css/base.css' %}">
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		
		{% block css_files %} {% endblock %}
		<title>{% block title %} {% endblock %} | Ping Pong</title>
	</head>
	<body>
		{% include 'part/_navbar.html' %}
		{% include "part/_yanmenu.html" %}
		{% block content %}{% endblock %}
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/base.js' %}"></script>
		{% block js_files %} {% endblock %}
	</body>
</html>