.btn-primary {
	background-color: #7a1b0c !important;
	border-color: #7a1b0c !important;
  }
  .btn-primary:hover,
  .btn-primary:active,
  .btn-primary:visited,
  .btn-primary:focus {
	background-color: #7a1b0c !important;
	border-color: #7a1b0c !important;
  }